# trigger text files must have unix line endings, else they look weird on windows clients
share/config/* text eol=lf
share/config/ru/* text eol=lf
# source too, we are not working with windows yet
*.cpp eol=lf
*.h eol=lf
