
This is where you will put the rules that users see when they type +rules in main chat. You should include any rules you expect your users to follow.

For example:

Minimum 1 slot per hub
No fake sharing or sharing of junk/installed files
Maximum 5 hubs.
Don't disconnect other users or change your name while in the hub
Don't connect to the hub multiple times 
